name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    strategy:
      matrix:
        java: [17]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    name: on ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Build with Maven
        run: mvn -Penable-jacoco clean verify -B -V -ntp

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          file: '*jacoco.xml'
